<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>

  <form method="post" action="/api/userLogin">

    <label for="email">Email:</label>
    <input type="text" id="email" name="email" required>
    
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
   
    <button type="submit">Login</button>
    <a href="http://localhost:5000/signin">Link Text</a>

  </form>
</body>
</html>